extends ../layouts/default

block scripts
  script(src='/script/marker.js')
  script(src='/js/leaflet.awesome-markers.js')
  script(src='/js/leaflet.markercluster-src.js')
block main
block content 
  script.
    $("document").ready(function(){
     var center=[50.9138200,-1.39908338865525];
     var zoomview=13;
     var mynodes=!{nodes};
     markerrender(center,zoomview,mynodes);
    });
  if(count==0)
    .alert.alert-warn
      button.close(type='button', data-dismiss='alert') &times;
      | There are no specified location data in #{cityname} within current database. 
  else
    .alert.alert-info
      button.close(type='button', data-dismiss='alert') &times;
      | #{count} Location Data in #{cityname}.
  h3(align='center') #{cityname} 
  .row-fluid  
    .span12
      .map#map(style="height: 650px")
 // .row-fluid
    .span12    
        table.table-striped.table-bordered.table-hover
          thead
            tr
              th.span1 Node_Id
              th.span2 Name
              th.span2 Address
              th.span1 City
              th.span2 County
              th.span2 Country
              th.span1 Type
              th.span1 Wheelchair Access
          tbody
             each wheelnode in wheelnodes
              .wheelnode
                tr
                 td #{wheelnode.id_list.id}
                 td 
                   if(wheelnode.name==null)
                    a(href='/data/nodes/'+wheelnode._id) Unknown
                   else
                    a(href='/data/nodes/'+wheelnode._id) #{wheelnode.name}
                 td  #{wheelnode.housename} #{wheelnode.street}
                 if(wheelnode.city==null||"")
                   td   Unknown
                 else
                   td #{wheelnode.city}
                 td  #{wheelnode.county} 
                   
                 td  #{wheelnode.country_name} 
                 td  #{wheelnode.type.wheelmap_identifier} 
                 td  
                   if(wheelnode.Accessibility.wheelchair=="unknown")
                     span.label.label #{wheelnode.Accessibility.wheelchair}
                   if(wheelnode.Accessibility.wheelchair=="no")
                     span.label.label-important #{wheelnode.Accessibility.wheelchair}
                   if(wheelnode.Accessibility.wheelchair=="limited")
                     span.label.label-warning #{wheelnode.Accessibility.wheelchair}
                   if(wheelnode.Accessibility.wheelchair=="yes")
                     span.label.label-success #{wheelnode.Accessibility.wheelchair}
