extends ../layouts/default

block content
  - var action = '/datasets'
  if (!dataset.isNew)
    - action += '/'+dataset.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
        if (!dataset.isNew)
          input(type="hidden", name="_method", value="PUT")
          
        .control-group
          label.control-label(for='title') Title
          .controls
            input#title.input-xlarge(type='text', name="title", value=dataset.title, placeholder='Enter the title')

        .control-group
          label.control-label(for='fileupload') File
          .controls
           .fileupload.fileupload-new(data-provides='fileupload')
            .input-append(name='file')
             .uneditable-input.span3
               i.icon-file.fileupload-exists
               span.fileupload-preview
             span.btn.btn-file
              span.fileupload-new Select file
              span.fileupload-exists Change
              input(type='file',name='uploadfile')
             a.btn.fileupload-exists(href='#', data-dismiss='fileupload') Remove
        .control-group
          label.control-label(for='desc') Description
          .controls
            textarea#desc.input-xlarge(type='text', rows='5', name='description', placeholder='Enter the dataset description')=dataset.description
        .control-group
          label.control-label(for='tags') Tags
          .controls
            label.checkbox Public Transport
             input(type='checkbox', name='tags', value='Public Transport')=dataset.tags
            label.checkbox Restaurants
             input(type='checkbox' name='tags', value='Restaurants')=dataset.tags
            label.checkbox Shopping Centers
             input(type='checkbox', name='tags', value='Shopping Centers')=dataset.tags
            label.checkbox Public Parking
             input(type='checkbox', name='tags',  value='Public Parking')=dataset.tags
            label.checkbox Assisstive Devices
             input(type='checkbox', name='tags',  value='Assisstive Devices')=dataset.tags
            label.checkbox Others (Please use comma to split)
            input#tags.input-xlarge(type='text', name="tags", value=dataset.tags, placeholder='Enter other tags')=dataset.tags
        .form-actions
          button.btn.btn-primary(type='submit') Submit
          &nbsp;
          a.btn(href='/datasets', title="cancel") Cancel
